.window{
  width: min(980px, 78vw);
  height: min(560px, 72vh);
  background: #fff;
  border: 2px solid #2f7d55;
  box-shadow: 0 14px 35px #61a27d;
  overflow: hidden;
}

.window-titlebar{
  height: 44px;
  background: #61a27d;
  color: #fff;

  display: flex;
  align-items: center;
  gap: 12px;

  padding: 0 10px 0 14px;
  user-select: none;
  cursor: grab;
}

.window-titlebar:active{
  cursor: grabbing;
}

.window-title{
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.window-close{
  margin-left: auto;

  width: 44px;
  height: 34px;
  border: none;
  border-radius: 8px;

  background: white;
  color: #61a27d;

  display: flex; 
  align-items: center;
  justify-content: center;

  font-size: 20px;
  line-height: 2;
  padding: 0;
  cursor: pointer;
}

.window-body{
  height: calc(100% - 44px);
  padding: 22px;
  overflow: auto;
}

.window-body::-webkit-scrollbar {
  width: 8px;
  height: 100px;
}

.window-body::-webkit-scrollbar-track {
  background:transparent; 
}

.window-body::-webkit-scrollbar-thumb {
  background: #82cfab;
  border-radius: 8px;
}

.window-body::-webkit-scrollbar-thumb:hover {
  background: #61a27d;
}
