.window{
  width: min(980px, 78vw);
  height: min(560px, 72vh);
  background: #fff;
  border: 2px solid rgba(0,0,0,0.55);
  box-shadow: 0 14px 35px rgba(0,0,0,0.35);
  overflow: hidden;
}

.window-titlebar{
  height: 44px;
  background: #2b2b2b;
  color: #fff;

  display: flex;
  align-items: center;
  gap: 12px;

  padding: 0 10px 0 14px;
  user-select: none;
  cursor: grab;
}

.window-titlebar:active{
  cursor: grabbing;
}

.window-title{
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.window-close{
  margin-left: auto;

  width: 44px;
  height: 34px;
  border: none;
  border-radius: 8px;

  background: white;
  color: black;

  display: flex; 
  align-items: center;
  justify-content: center;

  font-size: 20px;
  line-height: 2;
  padding: 0;
  cursor: pointer;
}

.window-close:hover{
  background: rgba(0,0,0,0.75);
}

.window-body{
  height: calc(100% - 44px);
  padding: 22px;
  overflow: auto;
}

.window-body::-webkit-scrollbar {
  width: 8px;
}

.window-body::-webkit-scrollbar-track {
  background:transparent; 
}

.window-body::-webkit-scrollbar-thumb {
  background: #000; 
  border-radius: 8px;
}

.window-body::-webkit-scrollbar-thumb:hover {
  background: #222;
}
